<style>
.table{display: table;}
.table{
 font-family: Trebuchet MS, Arial;
 font-size: 15px;
}
.table-caption{display: table-caption;}
.tr{display: table-row;}
.td, .th, .inner-td, .outer-td{display: table-cell;}
.td{padding: 3px;}
.th{
 padding: 5px;
 font-size: 15px;
 font-weight: bold;
 margin: auto;
 background-color: #394669;
 text-align: center;
 color: white;
}
.fright{float: right;}
.fleft{float: left;}
.pdrt{padding-right: 10px;}
.pdlft{padding-left: 10px;}
.pdtop{padding-top: 5px;}
.pdbot{padding-bottom: 5px;}
.right{text-align: right;}
.center{text-align: center;}
.left{text-align: left;}
.vcenter{vertical-align: middle;}
.vtop{vertical-align: top;}
.width100{width: 100%;}
.width95{width: 95%;}
.width90{width: 90%;}
.width80{width: 80%;}
.width75{width: 75%;}
.width70{width: 70%;}
.width65{width: 65%;}
.width60{width: 60%;}
.width55{width: 55%;}
.width50{width: 50%;}
.width45{width: 45%;}
.width40{width: 40%;}
.width35{width: 35%;}
.width30{width: 30%;}
.width25{width: 25%;}
.width20{width: 20%;}
.width15{width: 15%;}
.width12{width: 12%;}
.width10{width: 10%;}
.width8{width: 8%;}
.width5{width: 5%;}
.width2{width: 2%;}
.z1{z-index: 1;}
.z2{z-index: 2;}
.o75{opacity: 0.75;}
.pointer, .clicky{cursor: pointer;}
.brd{border: 3px solid black;}
.brdbtm{border-bottom: 1px solid black;}
.tblbtm{border-bottom: 1px solid #555555;}
.tbllft{border-left: 1px solid #555555;}
.tbltop{border-top: 1px solid #555555;}
.tblrt{border-right: 1px solid #555555;}
.addbrd{border: 1px solid #000000;}
.bcollapse{border-collapse: collapse;}
.red{color: red;}
.dkora{color: #4f2600;}
.green{color: green;}
.black{color: black;}
.purple{color: #8B008B;}
.orange{color: #ff7400;}
.white{color: white;}
.blue{color: blue;}
.grey{color: grey;}
.wb{background-color: white !important;}
.gb{background-color: #f0f0f0 !important;}
.bb{background-color: black !important;}
.q{cursor: help;}
.ital{font-style: oblique;}
.font35{font-size: 35px;}
.font28{font-size: 28px;}
.font20{font-size: 20px;}
.font15{font-size: 15px;}
.font12{font-size: 12px;}
.font10{font-size: 10px;}
.i{font-style: italic;}
.b{font-weight: bold;}
.u{text-decoration: underline;}
.rgrad{background: linear-gradient(to bottom, #fbaaaa 1%,#4c0909 100%);}  
.ograd{background: linear-gradient(to bottom, #fbd6aa 1%,#c77b42 100%);}
.ggrad{background: linear-gradient(to bottom, #2d1c1c 0%,#5f7565 50%,#2d4622 51%,#1d0404 100%);}
.tgrad{background: linear-gradient(to bottom, #ffffff 1%,#234465 100%);}
.pgrad{background: linear-gradient(to bottom, #ffffff 1%,#782a40 100%);}
.ygrad{background: linear-gradient(to bottom, #ffffff 1%,#706118 100%);}
.rntprt{border-top-right-radius: 10px;}
.rntplt{border-top-left-radius: 10px;}
.rnbtrt{border-bottom-right-radius: 10px;}
.rnbtlt{border-bottom-left-radius: 10px;}
.rntp{border-radius: 10px 10px 0 0;}
.rnbt{border-radius: 0 0 10px 10px;}
.rnd{border-radius: 10px;}
.bshade{box-shadow: 5px 5px 15px #000000;}
.boshade{box-shadow: 1px 1px 10px 1px black;}
.tshade{text-shadow: 2px 1px 5px  black;}
.wbrd{border: 1px solid white;}
.rg{box-shadow: 1px 1px 10px 2px #7d1111;}
.pg{box-shadow: 1px 1px 10px 2px #ad7887;}
.bg{box-shadow: 1px 1px 10px 2px #11117d;}
.tg{box-shadow: 1px 1px 10px 2px #62627d;}
.gg{box-shadow: 1px 1px 10px 2px #115d11;}
.yg{box-shadow: 1px 1px 10px 2px #ffe35b;}
.sbbg{background-image: url(https://dnd.codeadepts.com/misc/stat-bg.png);}
[no-break]{break-inside: avoid;}
  [rc]{display: table-cell; box-sizing: border-box;}
  [rc='child20']{width: 20%;}  
  [rc='child25']{width: 25%;}
  [rc='child30']{width: 30%;}
  [rc='child40']{width: 40%;}
  [rc='child33']{width: 33%;}
  [rc='child50']{width: 50%;}
  [rc='child60']{width: 60%;}  
  [rc='child70']{width: 70%;}
  [rc-col='2']{column-count:2;}
  [rc-col='3']{column-count:3;}
  
  [skills]{display:table-row;}
  [skills] > div{border-bottom: 1px solid #555555; display:table-cell; vertical-align: middle;}
  [skills] > div:nth-child(1){text-align: left; padding: 3px 30px 3px 2px;}
  [skills] > div:nth-child(2){text-align:center;}
  [skills] > div:nth-child(3){text-align:center; color: grey; font-style: italic;}
  [skills] > div:before{float:left; max-width:15px; box-sizing: border-box;}
  [skills] > div:nth-child(1):before{padding: 0px 30px 0px 3px;}
  [skills='not-prof'] > div:nth-child(1):before{content:'\25EF'; font-size: .9em;}
  [skills='hlf-prof'] > div:nth-child(1):before{content:'\25D0'; font-size: 1.3em;}
  [skills='reg-prof'] > div:nth-child(1):before{content:'\02713'; font-size: 1em;}
  [skills='exp-prof'] > div:nth-child(1):before{content:'\2705'; font-size: 1em;}
  [skills='reg-prof'] > div:nth-child(1), [skills='reg-prof'] > div:nth-child(1):before{font-weight: bold;}
  [skills='exp-prof'] > div:nth-child(1), [skills='exp-prof'] > div:nth-child(1):before{font-weight: 900;}
  
  [trait]{text-align: left;}
  [trait]:before{float: left; padding: 0px 30px 0px 2px; box-sizing:border-box; max-width:15px;}
  [trait='damage-immunities']:before{ content: '\1F496';}
  [trait='damage-resistances']:before{ content: '\1F49B';}
  [trait='damage-vulnerabilties']:before{ content: '\1F494';}
  [trait='condition-immunities']:before{ content: '\1F48E';}
  [trait='weapon-proficiencies']:before{ content: '\1F3F9';}
  [trait='armor-proficiencies']:before{ content: '\1F6E1';}
  [trait='tool-proficiencies']:before{ content: '\1F528';}
  [trait='senses']:before{ content: '\1F441';}
  [trait='languages']:before{ content: '\1F4AD';}

  [stat-section='h2']{
    font-family: "MrEaves";
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.0;
    color: #0D3C5A;
    margin: 0;
    background: linear-gradient(to top, rgba(122,122,122,0.65) 0%,rgba(0,0,0,0) 100%);
  }
  [stat-section='h3']{
    font-family: "ScalySansCaps";
    font-size: 1.5em;
    color: #0D245A;
    border-bottom: 2px solid #0D3C5A;
    text-align: left;
    background: linear-gradient(to top, rgba(122,122,122,0.65) 0%,rgba(0,0,0,0) 100%);
  }

  [stat-features]{color: black;}
  [stat-features] > span:nth-child(1){
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    break-inside: avoid;
  }
  [stat-features] > span:nth-child(2){
    display: inline-block;
    margin: 0.8em 0;
    break-inside: avoid;
  }
  .width14{width:14%;}
  .width16{width:16%;}
  .table{display: table; box-sizing: border-box;}
  .text-vert{writing-mode: vertical-lr; text-orientation: upright;}
  .h100 {height:100%;}
  
  @media (max-width : 750px) {
    .table {font-size: 14px;}
  }
  
  @media (max-width : 500px) {
    [rc-col] {column-count:1;}
    [rc] {display: block; width: 100%;}
  }

  [stat-bio]{color: black; background-color: #efefef;}
  [stat-bio] > div{display: table-cell; text-align: left; border-bottom: 1px solid #555555; padding: 3px;}
  [stat-bio] > div:nth-child(1){font-weight: bold; width: 30%;}
  [stat-bio] > div:nth-child(2){width: 70%;}  

  [stat-attr-header]{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    background-color: #394669;
    display: table-row;
    font-weight: bold;
    color: white;
  }
  [stat-attr-header] > div{display: table-cell;} 
  [stat-attr-header] > div:nth-child(1){width: 16%;}
  [stat-attr-header] > div:not(:first-child){width: 14%;}
  [stat-attr]{display: table-row;}
  [stat-attr] > div{display: table-cell; color: black; border-bottom: 1px solid #555555; border-left: 1px solid #555555;}  
  [stat-attr] > div:nth-child(1){width: 16%; background: linear-gradient(to top, rgba(122,122,122,0.65) 0%,rgba(0,0,0,0) 100%);}
  [stat-attr] > div:not(:first-child){width: 14%; background-color: #efefef;}
</style>
