
/* Jason's stat block stuff */
@import url("statblock/style.css");
@import url("statblock/oneDnd.css");

/* Rob's stuff */
@import url("bookstack_custom.css");

/* Add support for a nicely styled image. */
figure {
  background: black;
  color: white;
  border-radius: 1em;
  overflow: hidden;
}
figure img {
  display: block;
}
figure figcaption {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.25em;
  margin: 0;
}

@media (min-width: 800px) {
  figure.middle {
    width: 62%;
    margin: 0 auto 1em;
  }
  figure.right {
    width: 33%;
    float: right;
    margin: 0 0 1em 1em;
  }
  figure.left {
    width: 33%;
    float: left;
    margin: 0 1em 1em 0;
  }
}
